secrets/*-tls.yaml
secrets/vault-secret.yaml
secrets/data/*
!secrets/data/.gitkeep
ca.crt
ca.key

tools/memphis-consumer/transforms
tools/memphis-producer/memphis-producer
tools/*/data/*.csv
tools/*/protobuf/*.pb.go
tools/*/protobuf/*.proto

data/*.csv

package-lock.json
node_modules/
logs/*
!.gitkeep
nohup.out
